body {
    display: grid;
}

h3 {
    font-family: monospace;
}

.header {
    display: grid;
    text-align: center;
    grid-template-areas: auto;
    background-color: lightsalmon;
}

.header a {
    color: azure;
    font-family: monospace;
    text-decoration: none;
}

#social_links {
    color: lightsalmon;
    text-decoration: none;
}

.topnav {
    display: grid;
    text-align: center;
    background-color: lightsalmon;
}

.topnav a {
    font-family: monospace;
    color: azure;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.topnav a:hover, a:active {
    color:darkgoldenrod;
    text-decoration: none;
}

.info {
    font-family: monospace;
    max-width: 550px;
}
